
.movie-container{
  display: flex;
  flex-wrap: wrap;
}
.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0,0, 0.1);
  overflow: hidden;
  width: 250px;
  margin: 1rem;
}
.movie img{
  max-width: 100%;
}
.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.movie-info h3{
  margin: 0;
}