.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movie{
  width: 300px;

  display: .yourclass {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 90%;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
  }
  .yourclass::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .yourclass > *{
    scroll-snap-align: start;
  };
}
.movie img{
  width: 100%;
}